https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

In [81]:
with open('token.txt') as f:
    token = f.readlines()
    token = token[0]

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", app_token=token)  # the token is e0tJs1ImNvkUMP9CVWSkaTcd7, once we all copy into a token.txt file on our local repos we should be able to delete this comment and make the repo public

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("qgea-i56i",limit = 50000)

# Convert to pandas DataFrame
crimes = pd.DataFrame.from_records(results)

In [5]:
crimes.describe()  # Takes a long time to run

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,cmplnt_to_tm,loc_of_occur_desc,susp_age_group,susp_race,susp_sex,parks_nm,housing_psa,hadevelopt,transit_district,station_name
count,50000,50000,50000,49992,50000,50000,49998,49892,49892,50000,...,43889,41866,37945,37951,37950,223,3490,2261,1356,1356
unique,50000,672,1429,77,429,56,54,302,270,2,...,1435,5,7,7,3,92,278,222,12,277
top,394506329,2019-11-22T00:00:00.000,12:00:00,75,2019-12-04T00:00:00.000,341,PETIT LARCENY,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,12:00:00,INSIDE,UNKNOWN,BLACK,M,NA,887.0,CASTLE HILL,2.0,125 STREET
freq,1,1348,1263,1514,1412,10633,10633,5601,5606,49150,...,669,28889,15863,14227,22533,31,57,57,260,52

In [6]:
crimes

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,cmplnt_to_tm,loc_of_occur_desc,susp_age_group,susp_race,susp_sex,parks_nm,housing_psa,hadevelopt,transit_district,station_name
0,394506329,2019-12-31T00:00:00.000,17:30:00,32,2019-12-31T00:00:00.000,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,968873685,2019-12-29T00:00:00.000,16:31:00,47,2019-12-29T00:00:00.000,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,16:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,509837549,2019-12-15T00:00:00.000,18:45:00,109,2019-12-29T00:00:00.000,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,NaN,FRONT OF,25-44,UNKNOWN,M,NaN,NaN,NaN,NaN,NaN
3,352454313,2019-12-28T00:00:00.000,01:00:00,47,2019-12-28T00:00:00.000,126,MISCELLANEOUS PENAL LAW,117.0,RECKLESS ENDANGERMENT 1,COMPLETED,...,NaN,REAR OF,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN
4,248803469,2008-09-05T00:00:00.000,21:41:00,NaN,2008-09-05T00:00:00.000,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,OUTSIDE,NaN,NaN,NaN,NA,NA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,891138821,2019-11-05T00:00:00.000,00:01:00,42,2019-11-15T00:00:00.000,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,...,NaN,INSIDE,UNKNOWN,BLACK,M,NaN,NaN,NaN,NaN,NaN
49996,490626669,2019-11-13T00:00:00.000,12:00:00,25,2019-11-13T00:00:00.000,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",COMPLETED,...,12:09:00,INSIDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,577532290,2019-11-19T00:00:00.000,23:40:00,46,2019-11-20T00:00:00.000,578,HARRASSMENT 2,637.0,"HARASSMENT,SUBD 1,CIVILIAN",COMPLETED,...,00:00:00,INSIDE,18-24,BLACK,F,NaN,NaN,NaN,NaN,NaN
49998,109799275,2019-11-19T00:00:00.000,05:00:00,88,2019-11-21T00:00:00.000,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,05:20:00,INSIDE,UNKNOWN,BLACK,F,NaN,NaN,NaN,NaN,NaN
49999,644723280,2019-11-13T00:00:00.000,08:00:00,32,2019-11-14T00:00:00.000,126,MISCELLANEOUS PENAL LAW,198.0,CRIMINAL CONTEMPT 1,COMPLETED,...,03:29:00,INSIDE,25-44,WHITE HISPANIC,M,NaN,738.0,RANGEL,NaN,NaN

In [15]:
#Drop columns we won't be using
crimes.columns

Index(['cmplnt_num', 'cmplnt_fr_dt', 'cmplnt_fr_tm', 'addr_pct_cd', 'rpt_dt',
       'ky_cd', 'ofns_desc', 'pd_cd', 'pd_desc', 'crm_atpt_cptd_cd',
       'law_cat_cd', 'boro_nm', 'prem_typ_desc', 'juris_desc',
       'jurisdiction_code', 'x_coord_cd', 'y_coord_cd', 'latitude',
       'longitude', 'lat_lon', 'patrol_boro', 'vic_age_group', 'vic_race',
       'vic_sex', ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih', 'cmplnt_to_dt', 'cmplnt_to_tm',
       'loc_of_occur_desc', 'susp_age_group', 'susp_race', 'susp_sex',
       'parks_nm', 'housing_psa', 'hadevelopt', 'transit_district',
       'station_name'],
      dtype='object')

In [18]:
len(crimes.columns)

40

In [52]:
crimes[['cmplnt_fr_dt','cmplnt_fr_tm','cmplnt_fr_dt','loc_of_occur_desc','juris_desc','jurisdiction_code']]

,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_fr_dt,loc_of_occur_desc,juris_desc,jurisdiction_code
0,2019-12-31T00:00:00.000,17:30:00,2019-12-31T00:00:00.000,NaN,N.Y. POLICE DEPT,0.0
1,2019-12-29T00:00:00.000,16:31:00,2019-12-29T00:00:00.000,NaN,N.Y. POLICE DEPT,0.0
2,2019-12-15T00:00:00.000,18:45:00,2019-12-15T00:00:00.000,FRONT OF,N.Y. POLICE DEPT,0.0
3,2019-12-28T00:00:00.000,01:00:00,2019-12-28T00:00:00.000,REAR OF,N.Y. POLICE DEPT,0.0
4,2008-09-05T00:00:00.000,21:41:00,2008-09-05T00:00:00.000,OUTSIDE,N.Y. POLICE DEPT,NaN
...,...,...,...,...,...,...
49995,2019-11-05T00:00:00.000,00:01:00,2019-11-05T00:00:00.000,INSIDE,N.Y. POLICE DEPT,0.0
49996,2019-11-13T00:00:00.000,12:00:00,2019-11-13T00:00:00.000,INSIDE,N.Y. POLICE DEPT,0.0
49997,2019-11-19T00:00:00.000,23:40:00,2019-11-19T00:00:00.000,INSIDE,N.Y. POLICE DEPT,0.0
49998,2019-11-19T00:00:00.000,05:00:00,2019-11-19T00:00:00.000,INSIDE,N.Y. POLICE DEPT,0.0
49999,2019-11-13T00:00:00.000,08:00:00,2019-11-13T00:00:00.000,INSIDE,N.Y. HOUSING POLICE,2.0

In [82]:
crimes.drop(['ky_cd','ofns_desc','pd_cd', 'pd_desc','loc_of_occur_desc','jurisdiction_code','parks_nm','housing_psa','hadevelopt',
            'transit_district','station_name',':@computed_region_efsh_h5xi',':@computed_region_f5dn_yrer',':@computed_region_yeji_bk3q',
           ':@computed_region_92fq_4b7q',':@computed_region_sbqj_enih','lat_lon','x_coord_cd','y_coord_cd','cmplnt_num','patrol_boro'], axis = 1, inplace = True)
#ky_cd-Three digit offense classification code
#ofns_descO-Description of offense corresponding with key code
#pd_cd-Three digit internal classification code
#pd_desc - Description of internal classification corresponding with PD code
#loc_of_occur_desc -Specific location of occurrence in or around the premises; inside, opposite of, front of, rear of-getting rid of this one becuase we have a more useful description
#jurisdiction_code- code of juisdiction found in Juris_desc which had better description and no blank values
#lat_long- lattitude and longitude - have redundant information in other columns
#'x_coord_cd'- have redundant information in other columns
#'y_coord_cd'- have redundant information in other columns
# cmplnt_num - don't need this as the values are indexed
# patrol_boro- same info as boro_nm just broken down a little more, however to keep a better model wanting to do just one

#------too many NAs becuase not all reports happen in pertaining areas------------------
#parks_nm - park number 
#housing_psa - Development Level Code
#hadevelopt - Name of NYCHA housing development of occurrence, if applicable
#transit_district - Transit district in which the offense occurred.
#station_name -Transit station name


#----- random columns that were added---------------------
# :@computed_region_efsh_h5xi      
# :@computed_region_f5dn_yrer       
# :@computed_region_yeji_bk3q       
# :@computed_region_92fq_4b7q       
# :@computed_region_sbqj_enih

In [83]:
crimes.isna().sum()

cmplnt_fr_dt            0
cmplnt_fr_tm            0
addr_pct_cd             8
rpt_dt                  0
crm_atpt_cptd_cd        0
law_cat_cd              0
boro_nm               112
prem_typ_desc         289
juris_desc              0
latitude               18
longitude              18
vic_age_group          16
vic_race                0
vic_sex                 0
cmplnt_to_dt         6142
cmplnt_to_tm         6111
susp_age_group      12055
susp_race           12049
susp_sex            12050
dtype: int64

|Variable|Description|
|:-|:-|
|cmplnt_fr_dt|Exact date of occurrence for the reported event|
|cmplnt_fr_tm| Exact time of occurrence for the reported event|
|addr_pct_cd |  The precinct in which the incident occurred |          
|rpt_dt      |  Date event was reported to police |          
|crm_atpt_cptd_cd|Indicator of whether crime was successfully completed or attempted, but failed or was interrupted prematurely |
|law_cat_cd    |     Level of offense: felony, misdemeanor, violation|     
|boro_nm        |       The name of the borough in which the incident occurred|
|prem_typ_desc   |      Specific description of premises; grocery store, residence, street, etc.|
|juris_desc       |       Description of the jurisdiction code|
|latitude    |Midblock Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)| 
|longitude   |Midblock Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)
|vic_age_group       |  Victim’s Age Group| 
|vic_race             |   Victim’s Race Description|
|vic_sex        |Victim’s Sex Description (D=Business/Organization, E=PSNY/People of the State of New York, F=Female, M=Male)|
|cmplnt_to_dt    |  Ending date of occurrence for the reported event, if exact time of occurrence is unknown|  
|cmplnt_to_tm     |   Ending time of occurrence for the reported event, if exact time of occurrence is unknown |
|susp_age_group    |  Suspect’s Age Group |
|susp_race          | Suspect’s Race Description|
|susp_sex            | Suspect’s Sex Description|

There are a few date columns, How do we want to break them up? Do we want to even include them?
Ideas:

    rpt_date- change just to month crime was reported
    Duration of complaint- cmplnt_fr_date-cmplnt_to_dt
    time of day of complaint- use either cmplt_fm_tm (id use this one probably) or cmplnt_to_tm?

In [87]:
crimes[['cmplnt_fr_dt','cmplnt_fr_tm','cmplnt_to_dt','cmplnt_to_tm']]

,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm
0,2019-12-31T00:00:00.000,17:30:00,NaN,NaN
1,2019-12-29T00:00:00.000,16:31:00,2019-12-29T00:00:00.000,16:54:00
2,2019-12-15T00:00:00.000,18:45:00,NaN,NaN
3,2019-12-28T00:00:00.000,01:00:00,NaN,NaN
4,2008-09-05T00:00:00.000,21:41:00,NaN,NaN
...,...,...,...,...
49995,2019-11-05T00:00:00.000,00:01:00,NaN,NaN
49996,2019-11-13T00:00:00.000,12:00:00,2019-11-13T00:00:00.000,12:09:00
49997,2019-11-19T00:00:00.000,23:40:00,2019-11-20T00:00:00.000,00:00:00
49998,2019-11-19T00:00:00.000,05:00:00,2019-11-19T00:00:00.000,05:20:00
49999,2019-11-13T00:00:00.000,08:00:00,2019-11-14T00:00:00.000,03:29:00

In [89]:
crimes[['cmplnt_fr_dt','cmplnt_fr_tm','cmplnt_to_dt','cmplnt_to_tm']].isna().sum()

cmplnt_fr_dt       0
cmplnt_fr_tm       0
cmplnt_to_dt    6142
cmplnt_to_tm    6111
dtype: int64

i think using 'cmplnt_fr_dt','cmplnt_fr_tm' more than the other ones might be good becuase there aren't missing values