https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [7]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", app_token="e0tJs1ImNvkUMP9CVWSkaTcd7")

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("qgea-i56i",limit = 50000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [8]:
results_df.describe()

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,cmplnt_to_tm,loc_of_occur_desc,susp_age_group,susp_race,susp_sex,parks_nm,housing_psa,hadevelopt,transit_district,station_name
count,50000,50000,50000,49992,50000,50000,49998,49892,49892,50000,...,43889,41866,37945,37951,37950,223,3490,2261,1356,1356
unique,50000,672,1429,77,429,56,54,302,270,2,...,1435,5,7,7,3,92,278,222,12,277
top,394506329,2019-11-22T00:00:00.000,12:00:00,75,2019-12-04T00:00:00.000,341,PETIT LARCENY,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,12:00:00,INSIDE,UNKNOWN,BLACK,M,NA,887.0,CASTLE HILL,2.0,125 STREET
freq,1,1348,1263,1514,1412,10633,10633,5601,5606,49150,...,669,28889,15863,14227,22533,31,57,57,260,52

In [9]:
results_df

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,cmplnt_to_tm,loc_of_occur_desc,susp_age_group,susp_race,susp_sex,parks_nm,housing_psa,hadevelopt,transit_district,station_name
0,394506329,2019-12-31T00:00:00.000,17:30:00,32,2019-12-31T00:00:00.000,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,968873685,2019-12-29T00:00:00.000,16:31:00,47,2019-12-29T00:00:00.000,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,16:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,509837549,2019-12-15T00:00:00.000,18:45:00,109,2019-12-29T00:00:00.000,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,NaN,FRONT OF,25-44,UNKNOWN,M,NaN,NaN,NaN,NaN,NaN
3,352454313,2019-12-28T00:00:00.000,01:00:00,47,2019-12-28T00:00:00.000,126,MISCELLANEOUS PENAL LAW,117.0,RECKLESS ENDANGERMENT 1,COMPLETED,...,NaN,REAR OF,18-24,BLACK,M,NaN,NaN,NaN,NaN,NaN
4,248803469,2008-09-05T00:00:00.000,21:41:00,NaN,2008-09-05T00:00:00.000,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,OUTSIDE,NaN,NaN,NaN,NA,NA,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,891138821,2019-11-05T00:00:00.000,00:01:00,42,2019-11-15T00:00:00.000,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,...,NaN,INSIDE,UNKNOWN,BLACK,M,NaN,NaN,NaN,NaN,NaN
49996,490626669,2019-11-13T00:00:00.000,12:00:00,25,2019-11-13T00:00:00.000,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",COMPLETED,...,12:09:00,INSIDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,577532290,2019-11-19T00:00:00.000,23:40:00,46,2019-11-20T00:00:00.000,578,HARRASSMENT 2,637.0,"HARASSMENT,SUBD 1,CIVILIAN",COMPLETED,...,00:00:00,INSIDE,18-24,BLACK,F,NaN,NaN,NaN,NaN,NaN
49998,109799275,2019-11-19T00:00:00.000,05:00:00,88,2019-11-21T00:00:00.000,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,05:20:00,INSIDE,UNKNOWN,BLACK,F,NaN,NaN,NaN,NaN,NaN
49999,644723280,2019-11-13T00:00:00.000,08:00:00,32,2019-11-14T00:00:00.000,126,MISCELLANEOUS PENAL LAW,198.0,CRIMINAL CONTEMPT 1,COMPLETED,...,03:29:00,INSIDE,25-44,WHITE HISPANIC,M,NaN,738.0,RANGEL,NaN,NaN